<section class="content-header">
    <h1>
        Danh sách sản phẩm
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Examples</a></li>
        <li class="active">Blank page</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Horizontal Form</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" novalidate ng-submit="addProductCategory()">
            <div class="box-body">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Tên danh mục</label>
                    <div class="col-sm-10">
                        <input type="text" ng-change="getSeoTitle()" class="form-control" ng-model="category.Name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Tiêu đề SEO</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="category.Alias" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Mô tả ngắn</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="category.Description">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Danh mục cha</label>
                    <div class="col-sm-10">
                        <select ng-model="category.ParentID" ng-options="option.ID as option.Name for option in parentCategories">
                            <option value="">Danh mục gốc</option>
                        </select>
                        <input type="hidden" ng-model="category.ParentID" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Thứ tự</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control"  ng-model="category.DisplayOrder">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Hình ảnh</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Meta Keyword</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="category.MetaKeyword">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Meta Description</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="category.MetaDescription">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="category.Status" ng-checked="category.Status"> Kích hoạt
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="category.HomeFlag" ng-checked="category.HomeFlag"> Hiển thị trang chủ
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <button ui-sref="productCategories" class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-info pull-right">Thêm mới</button>
            </div>
            <!-- /.box-footer -->
        </form>
    </div>
    <!-- /.box -->
</section>